.portfolio-container {
  min-height: 100vh;
}

.portfolio-section {
  display: block;
  padding-bottom: 5rem;
  

  @media (min-width: 768px) {
    padding-bottom: 6rem;
  }

  @media (min-width: 1024px) {
    padding-bottom: 7rem;
  }

  &.no-bottom-padding {
    padding-bottom: 0;
  }
  
  @media (min-width: 768px) {
    padding-bottom: 6rem;
    
    &.no-bottom-padding {
      padding-bottom: 0;
    }
  }
  
  @media (min-width: 1024px) {
    padding-bottom: 7rem;
    
    &.no-bottom-padding {
      padding-bottom: 0;
    }
  }
}


